adventure_of_code/*/*/.exe
adventure_of_code/*/*/a.out
adventure_of_code/*/*/a.exe
adventure_of_code/*/*.vscode

2022/day_two/day_two

*.out

2022/day_two/day_two_pt2

*.exe

*.json

*.ilk

*.pdb

2020/day_3/day_three

2020/day_2/day_two

2020/day_4/day_four
